#timer{
    padding: 20px 0px 50px 0px;
    background: linear-gradient(45deg, #23243F, #313255);
    width: 100%;
    box-shadow: 0px -2px 12px 0px rgb(0, 0, 0, .25);
    color: var(--white);

    #text{
        text-align: center;
        font-size: clamp(20px, 5vw, 26px);
        font-weight: 800;
    }

    #time{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 10px;
        /* background: red; */

        @media(max-width: 600px){
            &{
                display: grid;
                justify-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .hidden span{
                    display: none;
                    background: red;
                }
            }
        }

        span{
            font-size: clamp(60px, 20vw, 100px);
            font-weight: 900;
            align-self: flex-end;
            margin-bottom: 10px;
        }

        #cardContainer{
            display: flex;
            /* background: blue; */
        }
        
        .singleTime{
            
            p{
                font-size: clamp(20px, 5vw, 34px);
                font-weight: 800;
                text-align: center;
            }

            .singlNumber{
                margin-top: 10px;
                display: flex;
                gap: 15px;
                
                div{
                    text-align: center;
                    width: fit-content;
                    color: #242424;
                    font-size: clamp(40px, 10vw, 80px);
                    font-weight: 900;
                    background: #D9D9D9;
                    padding: clamp(8px, 2vw, 20px) clamp(15px, 3vw, 30px);
                    border-radius: 5px;
                }
            }
        }
    }

    #text2{
        margin-top: clamp(20px, 5vw, 40px);
        display: grid;
        height: fit-content;
        justify-items: center;
        text-align: center;
        /* background: red; */

        p{
            font-size: clamp(30px, 9vw, 50px);
            font-weight: 600;
            line-height: 50px;
            width: fit-content;
            color: #D9D9D9; 
            /* background: red; */
        }

        h2{
            font-size: clamp(100px, 30vw, 175px);
            line-height: clamp(74px, 14vw, 125px);
            font-weight: 900;
            margin-top: 20px;
            width: fit-content;
            background: linear-gradient(
                45deg,
                #E0C246,
                #FFE166 13%,
                #CAAC2F 25%,
                #E0C246 36%,
                #E0C246 60%,
                #D4B430 72%,
                #FFE887 85%,
                #E0C246 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media(max-width: 600px){
                &{
                    margin: 0px;
                }
            }
        }
    }
}