#finalPhrase{
    /* background: red; */
    margin-top: 140px;

    #title{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* background: blue; */
        text-align: center;
        line-height: 50px;
        font-size: 56px;

        #titleContent{
            position: relative;
            /* background: red; */

            &::after{
                content: URL("/public/icons/slw.png");
                position: absolute;
                top: 60%;
                left: 102%;
            }
            &::before{
                content: '😉';
                rotate: -13deg;
                position: absolute;
                bottom: 70%;
                right: 100%;
            }
            
            span{
                font-size: 80px;
                color: var(--yellow);
                font-weight: 800;
                /* background: red; */
            }
        }

    }

    #content{
        position: relative;
        margin: 0px 300px;
        margin-top: 50px;
        /* background: greenyellow; */
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        color: var(--deepBlue);
        font-style: italic;

        &::after{
            content: var(--userName);
            position: absolute;
            color: var(--gold);
            top: 100%;
            right: 0px;
        }
    }
}