#sendLink{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;

    #card{
        background: #f0f0f0;
        padding: 30px;
        border-radius: 10px;
        width: 80%;
        height: 80%;
    }
}