#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171832;
    position: relative;
    --height: calc(100svh - 25px);
    max-height: var(--height);
    min-height: var(--height);
    overflow: hidden;
    color: var(--white);

    &::after{
        content: "";
        position: absolute;
        top: -50%;
        left: -35%;
        width: 100%;
        height: 200%;
        rotate: -12deg;
        background: var(--deepBlue);
        z-index: 0;
    }

    *{
        z-index: 1;
        font-size: 50px;
        font-family: "Playfair Display", serif;
    }

    #textWrapper{
        position: relative;
    
        #title{
            display: grid;
            height: fit-content;
            /* background: blue; */
        }

        p{
            /* position: relative; */
            width: fit-content;
            font-size: 60px;
            left: -50px;
            font-weight: 600;
            /* background: red; */
    
            span{
                font-size: 40px;
                font-weight: 500;
            }
        }
    
        h1{
            --fontSize: 100px;
            font-size: var(--fontSize);
            line-height: var(--fontSize);
            width: fit-content;
            color: var(--gold);
            font-weight: 900;
            /* background: blue; */
        }
    
        #texto{
            font-size: 35px;
            font-weight: 600;
            width: 800px;
            text-align: center;
            justify-self: center;
            margin-top: 25px;
            /* background: red; */
        }
    }


}