#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171832;
    position: relative;
    --height: calc(100svh - 25px);
    max-height: var(--height);
    min-height: var(--height);
    overflow: hidden;
    color: var(--white);

    &::after{
        content: "";
        position: absolute;
        top: -50%;
        left: -35%;
        width: 100%;
        height: 200%;
        rotate: -12deg;
        background: var(--deepBlue);
        z-index: 0;
    }

    *{
        z-index: 2;
        font-size: 50px;
        font-family: "Playfair Display", serif;
    }

    #textWrapper{
        position: relative;
        z-index: 100;
    
        #title{
            display: grid;
            height: fit-content;
            /* background: blue; */
        }

        p{
            /* position: relative; */
            width: fit-content;
            font-size: clamp(40px, 7vw, 60px);
            left: -50px;
            font-weight: 600;
            /* background: red; */

            @media(max-width: 600px){
                &{
                    display: flex;
                    flex-direction: column;
                    line-height: 40px;
                    text-align: center;
                }
            }
    
            span{
                font-size: clamp(30px, 1vw, 40px);
                font-weight: 500;
            }
        }
    
        h1{
            --fontSize: clamp(50px, 15vw, 100px);
            font-size: var(--fontSize);
            line-height: var(--fontSize);
            width: fit-content;
            color: var(--gold);
            font-weight: 900;
            /* background: blue; */
            
            span{
                font-size: var(--fontSize);
            }

            @media(max-width: 600px){
                &{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
    
        #texto{
            font-size: clamp(24px, 5vw, 35px);
            line-height: clamp(34px, 10vw, 48px);
            font-weight: 600;
            width: clamp(280px, 80vw, 700px);
            text-align: center;
            justify-self: center;
            margin-top: 25px;

            @media(max-width: 600px){
                &{
                    margin-top: 40px;
                }
            }
            /* background: red; */
        }
    }


}