#sendSection{
    margin: 0px 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    font-weight: 900;

    p{
        font-size: 30px;
        color: var(--deepBlue);
        width: 70%;
        text-align: center;

        span{
            color: var(--yellow);
        }
    }

    button{
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        background: linear-gradient(45deg, #3BE43B, #46E846);
        padding: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;

        &:hover{
            transform: scale(1.025);
        }

        &:active{
            transform: scale(1);
        }
    }
}