#setFInalDepth{
    display: grid;
    height: fit-content;
    justify-items: center;
    /* background: red; */
    margin: 0px 375px;
    margin-top: 100px;
    text-align: center;
    /* background: blue; */

    h2{
        display: grid;
        justify-items: center;
        height: fit-content;
        font-size: 40px;
        gap: 10px;
        /* background-color: red; */
        
        #mainTitleWrapper{
            line-height: 25px;

            
            #porFim{
                font-size: 20px;
                font-style: italic;
            }
            
            #word_encerrar{
                color: var(--yellow);
            }
        }
        
        #word_2025{
            font-size: 100px;
            color: var(--yellow);
            background: linear-gradient(
                45deg,
                #E0C246,
                #FFE166 13%,
                #CAAC2F 25%,
                #E0C246 36%,
                #E0C246 60%,
                #D4B430 72%,
                #FFE887 85%,
                #E0C246 100%
            );
            width: fit-content;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #writeContanier{
        position: relative;
        margin-top: 20px;
        min-width: 100%;
        max-width: 100%;
        min-height: 250px;
        max-height: 250px;
        border-radius: 10px;
        /* border: 6px solid var(--deepBlue); */
        background: linear-gradient(
            45deg,
            #CEAC23,
            #E9C73E 13%,
            #A98F25 24%,
            #CEAC23 35%,
            #EDCC49 49%,
            #B89B27 62%,
            #CEAC23 72%,
            #AD9120 82%,
            #F3CE3C 90%,
            #CEAC23 100%
        );
        padding: 6px;
        
        #faixas{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            /* background-color: red; */
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            &::before, &::after{
                content: '';
                position: absolute;
                width: 150px;
                height: 30px;
                rotate: -45deg;
            }
    
            &::after{
                bottom: 25px;
                right: -35px;
                background: linear-gradient(
                    45deg,
                    #121328,
                    #1A1B36 18%,
                    #101125 34%,
                    #121328 49%,
                    #16172F 69%,
                    #0E0E21 79%,
                    #121328 100%);
            }
    
            &::before{
                bottom: 0px;
                right: -80px;
                height: 40px;
                background: linear-gradient(#1D1E3B 50%, #121328);
            }
        }
        
        #boxIcon{
            position: absolute;
            left: -60px;
            top: -85px;
            rotate: -23deg;
            /* background: red; */
        }
        
        textarea{
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            background: #f0f0f0;
            max-height: 250px;
            padding: 20px 60px;
            border: none;
            outline: none;
            text-align: center;
            /* background: none; */
            color: var(--deepBlue);
            font-size: 40px;
        }
    }

}