#setName{
    display: flex;
    flex-direction: column;
    margin: 0px 400px;
    gap: 5px;
    margin-top: 60px;
    /* background: red; */

    label{
        color: var(--yellow);
        font-size: 60px;
        font-weight: 800;
        font-style: italic;
    }

    input{
        height: 100px;
        border: none;
        border-radius: 15px;
        font-size: 50px;
        font-weight: 900;
        color: var(--white);
        padding-left: 30px;
        background: var(--deepBlue);
    }
}