#cta1{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 200px;
    /* background: red; */

    #pt1{
        display: flex;
        justify-content: center;
        transform: scale(1.4);
        /* background: blue; */

        
        #pt1Text{
            position: relative;
            font-size: 40px;
            font-weight: 800;
            color: var(--deepBlue);
            text-align: center;
            line-height: 46px;
            
            &::after, &::before{
                display: block;
                position: absolute;
                content: '?';
                font-size: 70px;
                width: fit-content;
                height: fit-content;
            }

            &:after{
                right: -60px;
                transform: rotate(13deg);
                bottom: 0px;
                /* background: red; */
            }

            &:before{
                left: -60px;
                transform: rotate(-13deg);
                /* background: blue; */
            }
            
            #pt1_2025{
                color: var(--yellow);
                font-size: 50px;
                font-weight: 900;
            }
        }
    }

    #pt2{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        /* background: pink; */

        p{
            font-size: 60px;
            color: var(--deepBlue);
            font-weight: 900;
            line-height: 60px;

            #word_criar{
                color: var(--yellow);
                font-size: 64px;
            }

            #word_retrospectiva{
                color: var(--yellow);
                font-size: 66px;
            }
        }

        button{
            background: var(--deepBlue);
            color: var(--white);
            font-weight: 800;
            width: 400px;
            font-size: 40px;
            padding: 20px 40px;
            border-radius: 10px;
            border: none;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: .3s;

            &:hover{
                transform: scale(1.025);
                box-shadow: 0px 0px 12px 0px black;
            }

            &::after, &::before{
                content: '';
                position: absolute;
                background: var(--yellow);
                height: 15px;
                rotate: -45deg;
                width: 100px;
            }

            &::after{
                right: -20px;
                bottom: 10px;
            }

            &::before{
                right: -41px;
                bottom: 0px;
            }
        }

        #aboveText{
            font-size: 24px;
            color: var(--deepBlue);
            font-weight: 600;

            span{
                color: var(--yellow);
                font-weight: 900
            };
        }
    }
}