#cta1{
    display: flex;
    flex-direction: column;
    gap: clamp(60px, 20vw, 150px);
    margin-top: clamp(50px, 14vw, 200px);
    /* background: red; */

    #pt1{
        display: flex;
        justify-content: center;
        /* transform: scale(1.4); */
        /* background: blue; */

        
        #pt1Text{
            position: relative;
            font-size: clamp(36px, 10vw, 60px);
            font-weight: 800;
            color: var(--deepBlue);
            text-align: center;
            line-height: clamp(40px, 11vw, 60px);
            
            &::after, &::before{
                display: block;
                position: absolute;
                content: '?';
                font-size: clamp(50px, 1vw, 90px);
                width: fit-content;
                height: fit-content;
            }

            &:after{
                right: clamp(-30px, -9vw, -60px);
                transform: rotate(13deg);
                bottom: 0px;
                /* background: red; */
            }

            &:before{
                left: clamp(-36px, -10vw, -60px);
                transform: rotate(-13deg);
                /* background: blue; */
            }
            
            #pt1_2025{
                color: var(--yellow);
                font-size: clamp(46px, 12vw, 70px);
                font-weight: 900;
            }
        }
    }

    #pt2{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: clamp(15px, 3vw, 20px);
        /* background: pink; */

        @media(max-width: 600px){
                #br{
                    display: none;
                }
            }

        p{
            font-size: clamp(32px, 9vw, 60px);
            color: var(--deepBlue);
            font-weight: 900;
            line-height: clamp(32px, 9vw, 60px);

            #word_criar{
                color: var(--yellow);
                font-size: clamp(36px, 10vw, 66px);
            }

            #word_retrospectiva{
                color: var(--yellow);
                font-size: clamp(36px, 10vw, 66px);
            }
        }

        button{
            background: var(--deepBlue);
            color: var(--white);
            font-weight: 800;
            width: clamp(280px, 80vw, 400px);
            text-wrap: nowrap;
            font-size: clamp(26px, 6vw, 40px);
            padding: 20px 40px;
            border-radius: 10px;
            border: none;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: .3s;

            &:hover{
                transform: scale(1.025);
                box-shadow: 0px 0px 12px 0px black;
            }

            &::after, &::before{
                content: '';
                position: absolute;
                background: var(--yellow);
                height: 15px;
                rotate: -45deg;
                width: 100px;
            }

            &::after{
                right: -20px;
                bottom: 10px;
            }

            &::before{
                right: -41px;
                bottom: 0px;
            }
        }

        #aboveText{
            font-size: 24px;
            color: var(--deepBlue);
            font-weight: 600;

            span{
                color: var(--yellow);
                font-weight: 900
            };
        }
    }
}