#quiz1{
    /* background: red; */
    margin: 0px 150px;
    margin-top: 120px;
    
    h3{
        font-size: 46px;
        color: var(--deepBlue);
        line-height: 60px;
    }

    #title2{
        text-align: end;

        #nome{
            font-size: 60px;
            color: var(--yellow);
        }

        #leter2025pt2{
            color: var(--yellow);
            font-weight: 800;
            font-size: 50px;
        }
    }

    #leter2025{
        color: var(--yellow);
        font-size: 56px;
        font-weight: 600;
    }

    #userName{
        color: var(--yellow);
        font-size: 80px;
    }

    #contentWrapper{
        display: flex;
        margin-top: 40px;

        #card{
            display: flex;
            gap: 60px;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 60px 0px;
            background: grey;
            min-width: 425px;
            height: 500px;
            background: var(--deepBlue);
            border-radius: 10px;
            border-top: 5px solid #3D3F61;
            overflow: hidden;

            &::after{
                content: '';
                position: absolute;
                bottom: 0px;
                right: -28%;
                width: 100%;
                height: 30px;
                transform: rotate(-45deg);
                background: #23243F;
                box-shadow: -2px -2px 12px 0px rgba(0, 0, 0, .25);
            }

            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                right: -50%;
                width: 100%;
                height: 50px;
                transform: rotate(-45deg);
                background: #23243F;
            }
            
            p{
                color: var(--white);
                font-size: 40px;
                font-weight: 900;
            }
        }

        #text{
            display: grid;
            min-height: 100%;
            justify-items: center;
            /* background: pink; */
            margin-top: 20px;
            width: fit-content;
            
            #depoimento{
                position: relative;
                font-style: italic;
                /* background: green; */

                &::after{
                    content: var(--userName);
                    position: absolute;
                    color: var(--gold);
                    top: 100%;
                    right: 0px;
                }
            }

            #depoimento, #cardText{
                font-size: 36px;
                font-weight: 600;
                width: 60%;
                height: fit-content;
                text-align: center;
                color: var(--deepBlue);
            }

            #cardText{
                font-size: 36px;
                margin-top: 20px;
            }
        }
    }
}