#cta2{
    text-align: center;
    margin: 0px 200px;
    margin-top: 200px;
    /* background: red; */
    color: var(--deepBlue);
    font-size: 60px;
    font-weight: 600;
    line-height: 50px;
    
    span{
        font-size: 60px;
        color: var(--yellow);
    }
    
    button{
        background: var(--deepBlue);
        color: var(--white);
        font-weight: 800;
        width: 450px;
        font-size: 40px;
        padding: 20px 40px;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: .3s;
        
        &:hover{
            transform: scale(1.025);
            box-shadow: 0px 0px 12px 0px black;
        }
        
        &::after, &::before{
            content: '';
            position: absolute;
            background: var(--yellow);
                height: 15px;
                rotate: -45deg;
                width: 100px;
            }

            &::after{
                right: -20px;
                bottom: 10px;
            }

            &::before{
                right: -41px;
                bottom: 0px;
            }
        }
        
        #aboveText{
                font-size: 24px;
                color: var(--deepBlue);
                font-weight: 600;
                background: blue;
    
                span{
                    color: var(--yellow);
                    font-weight: 900;
                    font-size: 24px;
                    margin: 0px;
                };
        }

}