#cta2{
    text-align: center;
    margin: 0px clamp(15px, 3vw, 200px);
    margin-top: clamp(60px, 20vw, 200px);
    /* background: red; */
    color: var(--deepBlue);
    font-size: clamp(30px, 9vw ,60px);
    font-weight: 600;
    line-height: clamp(30px, 9vw, 50px);
    
    span{
        font-size: clamp(40px, 11vw, 60px);
        color: var(--yellow);
    }
    
    button{
            background: var(--deepBlue);
            color: var(--white);
            font-weight: 800;
            width: clamp(280px, 80vw, 400px);
            text-wrap: nowrap;
            font-size: clamp(26px, 6vw, 40px);
            padding: 20px 40px;
            border-radius: 10px;
            margin-top: 15px;
            border: none;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: .3s;

            &:hover{
                transform: scale(1.025);
                box-shadow: 0px 0px 12px 0px black;
            }

            &::after, &::before{
                content: '';
                position: absolute;
                background: var(--yellow);
                height: 15px;
                rotate: -45deg;
                width: 100px;
            }

            &::after{
                right: -20px;
                bottom: 10px;
            }

            &::before{
                right: -41px;
                bottom: 0px;
            }
        }
        
        #aboveText{
            display: inline-block;
            line-height: 30px;
            margin-top: 20px;
            font-size: 24px;
            color: var(--deepBlue);
            font-weight: 600;
            /* background: blue; */
            
            span{
                color: var(--yellow);
                font-weight: 900;
                font-size: 24px;
                margin: 0px;
            };
        }

}