@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --gold: #D0B751;
  --yellow: #CEAC23;
  --deepBlue: #121328;
  --grey: #303030;
  --white: #D9D9D9;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: #f0f0f0;
  color: var(--grey);
}