#setHowWas{
    display: grid;
    height: fit-content;
    margin: 0px 150px;
    margin-top: 100px;
    /* background: red; */

    h1{
        text-align: end;
        font-size: 60px;
        color: var(--deepBlue);
        font-style: italic;

        #word_2025{
            color: var(--yellow);
            font-size: 70px;
        }

        #interrogacao{
            display: inline-block;
            transform: rotate(13deg);
            margin-left: 5px;
            font-size: 70px;
        }
    }

    #setContainer{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 40px;
        /* background: blue; */

        .cardWrapper{
            
            .cardTitle{
                font-size: 30px;
                font-weight: 900;

                span{
                    color: var(--yellow);
                }
            }
        }

        hr{
            height: 100%;
            border: 1px solid var(--deepBlue);
            border-radius: 5px;
            opacity: .5;
        }

        ul, textarea{
            /* background: red; */
            margin-top: 20px;
            min-width: 100%;
            max-width: 100%;
            min-height: 400px;
            max-height: 400px;
            border-radius: 15px;
            border: 3px solid var(--deepBlue);
            padding: 30px 40px;
            background: none;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style: none;
            overflow-y: auto;

            /* li */
            .card{ 
                user-select: none;

                input{
                    display: none;

                    &:checked ~ label > .checkBox span{
                        display: inline-block;
                    }

                    &:checked ~ label{
                        transform: scale(1.025);
                        background: var(--yellow);
                        color: var(--deepBlue);
                        
                        .checkBox{
                            background: var(--deepBlue);
                            color: white;
                        }
                    }
                }

            
            label{
                display: flex;
                align-items: center;
                color: var(--white);
                font-size: 30px;
                font-weight: 900;
                border-radius: 5px;
                padding: 10px 20px;
                gap: 10px;
                background: var(--deepBlue);
                cursor: pointer;
                opacity: .90;
                transition: .3s;

                &:active{
                    transform: scale(1) !important;
                }

                &:hover{
                    transform: scale(1.025);
                    opacity: 1;
                }



                .checkBox{
                    display: flex;
                    justify-content: c;
                    align-items: center;
                    background-color: var(--white);
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    margin-right: 20px;
                    color: var(--deepBlue);
                    
                    span{
                        display: none;
                        width: 100%;
                        font-size: 18px;
                        height: 100%;
                        text-align: center;
                        /* background: red; */
                    }
                }

                div{
                    width: 40px;
                    height: 40px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }}
        }

        textarea{
            font-size: 30px;
            color: var(--deepBlue);
            font-style: italic;
        }
    }
}